# Скомпилированные бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
bot

# Файлы конфигурации и секреты (КРИТИЧЕСКИ ВАЖНО)
.env

# Локальные данные баз данных и RabbitMQ (чтобы не пушить гигабайты БД)
pgdata/
rmqdata/

# Временные файлы редакторов (VSCode, GoLand)
.idea/
.vscode/

*.py